.formulario{
  padding-left:30%;
  padding-right:30%;
  margin-top: 1%;
}
.titulo{
  padding-left:45%;
  padding-right:30%;
  margin-top: 5%;
  font-style: oblique;


}
.tabla{
  padding-left:30%;
  padding-right:30%;
  margin-top: 5%
}
